In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC
from scipy.stats import spearmanr
from scipy.stats import skew, kurtosis, norm
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.utils.validation import check_is_fitted
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.utils.validation import check_is_fitted
from sklearn.impute import SimpleImputer
import plotly.express as px
import plotly.graph_objects as go
from category_encoders import OneHotEncoder
from IPython.display import VimeoVideo
from sklearn.linear_model import LinearRegression, Ridge  



import plotly.express as px

In [8]:
df = pd.read_csv(r"C:\Users\Nassoh\Desktop\DataSienceMyProject\DS salary\Data\ds_salaries.csv")
print(df.shape)
df.head()

(3755, 11)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [9]:
df = df.drop(columns=[col for col in df.columns if col not in ['salary_in_usd','work_year', 'experience_level', 'company_size', 'job_title', 'employee_residence']])
df

,work_year,experience_level,job_title,salary_in_usd,employee_residence,company_size
0,2023,SE,Principal Data Scientist,85847,ES,L
1,2023,MI,ML Engineer,30000,US,S
2,2023,MI,ML Engineer,25500,US,S
3,2023,SE,Data Scientist,175000,CA,M
4,2023,SE,Data Scientist,120000,CA,M
...,...,...,...,...,...,...
3750,2020,SE,Data Scientist,412000,US,L
3751,2021,MI,Principal Data Scientist,151000,US,L
3752,2020,EN,Data Scientist,105000,US,S
3753,2020,EN,Business Data Analyst,100000,US,L
3754,2021,SE,Data Science Manager,94665,IN,L

# Spilt

In [19]:
target = "salary_in_usd"
y =df[target]
X =df.drop(['salary_in_usd'],axis=1)

In [20]:
X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.2,random_state=42)

# Baseline

In [21]:
y_mean =y_train.mean()
y_mean
y_pred_baseline =[y_mean]*len(y_train)
len(y_pred_baseline)
mae_baseline =mean_absolute_error(y_train,y_pred_baseline)
print("Mean apt price", round(y_mean, 2))
print("Baseline MAE:", round(mae_baseline, 2))

Mean apt price 138055.99
Baseline MAE: 49169.95

# Build Model

In [22]:
model =make_pipeline( OneHotEncoder(use_cat_names=True),SimpleImputer(),Ridge())
model.fit(X_train,y_train)

Pipeline(steps=[('onehotencoder',
                 OneHotEncoder(cols=['experience_level', 'job_title',
                                     'employee_residence', 'company_size'],
                               use_cat_names=True)),
                ('simpleimputer', SimpleImputer()), ('ridge', Ridge())])

# Evaluate

In [23]:
y_pred_training =model.predict(X_train)
y_pred_test =model.predict(X_test)
mae_training =mean_absolute_error(y_train,y_pred_training)
mae_test =mean_absolute_error(y_test,y_pred_test)
print("Baseline MAE:", round(mae_baseline, 2))
print("Training MAE:", round(mae_training, 2))
print("Test MAE:", round(mae_test, 2))

Baseline MAE: 49169.95
Training MAE: 34408.43
Test MAE: 36756.24